@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full;
}

body {
  @apply h-full overflow-x-hidden;
  font-family: "Poppins", sans-serif;
}

@layer base {
  .l-container {
    background-color: #0c0f14;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

  .scrollbar {
    overflow: auto;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar::-webkit-scrollbar {
    overflow: auto;
    display: none; /* Safari and Chrome */
  }
}

@layer utilities {
  .w-overflow {
    width: calc(100% + 60px);
  }
}
